body{
  margin: 0;
  background: #16171d;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

html{
  scroll-behavior: smooth;
}
header{
  position: fixed;
  z-index: 1000;
  top: 22px;
  width: 94%;
  display: flex;
  align-items: center;
  align-self: center;
  justify-content: space-between;
  padding: 10px;
  border: 1px solid rgba(0, 255, 255, 0.418);
  border-radius: 40px;
  box-shadow:  0 0 15px rgba(0, 255, 255, 0.356);
  background: #16171d;
  
}


nav{
  display: flex;
  gap:22px;
  margin-right: 32px;
}
nav a{
  color: aqua;
  text-decoration: none;
}

nav a:hover{

  text-decoration: underline;
}

.logo{
  margin-left: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 22%;
  width: 100%;
  height: auto;
  overflow: hidden;
}

.logo img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.menubtn{
  display: none;
  margin-right: 22px;
  border: 1px solid rgba(0, 255, 255, 0.199);
  padding: 10px;
  border-radius: 8px;
}

.menubtn:hover{

  border: 1px solid rgba(0, 255, 255, 0.979);
  
}
.sticks{
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.stick{
  background: aqua;
  width: 30px;
  height: 2px;
}

.landingpage{
 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 92vh;
  width: 100%;
  
}


.mybars{
  position: relative;
  z-index: 50;
  top: -3rem;
  gap: 12px;
  width: 100%;
  height: 0;
  left: 1rem;
  pointer-events: none;
  overflow: hidden;
  
}

.bars{
  position: absolute;
  height: 4rem;
  width: 2px;
  background: aqua;
  box-shadow:  0 0 10px rgba(0, 255, 255, 0.459);
  animation: fall 12s linear infinite;
  opacity: 0;
}
.bars:nth-child(1){
  left: 10%;
  animation-delay: 0s;
}

.bars:nth-child(2){
  left: 30%;
  animation-delay: 3s;
}

.bars:nth-child(3){
  left: 55%;
  animation-delay: 4s;
}
.bars:nth-child(4){
  left: 75%;
  animation-delay: 9s;
}

.bars:nth-child(5){
  left: 90%;
  animation-delay: 1.5s; 
}
.bars:nth-child(6){
  left: 45%;
  animation-delay: 2s; 
}
.bars:nth-child(7){
  left: 20%;
  animation-delay: 6s; 
}

@keyframes fall {
  0% {
      opacity: 0;
      transform: translateY(0);
  }
  10% {
      opacity: 1; 
  }
  90% {
      opacity: 0.6;
      transform: translateY(88vh);
  }
  95% {
      transform: translateY(96vh); 
      opacity: 0;
  }
}

.load{
  position: fixed;
  z-index: 1000;
  top: 0;
  background: aqua;
  height: 3px;
  width: 0;
  left: 0;
  animation: load 12s;
  animation-timeline: scroll();
}

@keyframes load{
  from{width: 0%;}
  to{width: 100%;}
}

.heros{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 15px;
  position: relative;
  top: 3rem;
  max-width: 90%;
  width: 100%;
  
  
  
}

.herosContent h1{
  text-align: center;
  color: transparent;
  -webkit-text-stroke: 1px aqua;
  line-height:118%;
}
.herosContent p{
  text-align: center;
  
}
.c2a{
  display: flex;
  gap: 42px;
}

#workbtn{
  padding: 18px;
  border: 1px solid aqua;
  width: 14rem;
  border-radius: 40px;
  background: rgba(0, 255, 255, 0.185);
  font-size: 20px;
  color: aqua;
  transition: .3s ease-in;
}

#workbtn:hover{
  background: transparent;
  color: aqua;
  border: 1px solid aqua;
  
  
}
#reachbtn{
  padding: 18px;
  width: 14rem;
  border-radius: 40px;
  font-size: 20px;
  border: 1px solid #fff;
  background: #ffffff2c;
  color: #fff;
  transition: .3s ease;
}
#reachbtn:hover{
  background: transparent;
  color: #fff; 
  
}

.socials-links{
  display: flex;
  gap: 33px;
}

.socials-links i{
  padding: 3px;
  font-size: 26px;
  color: #000;
  background: rgba(0, 255, 255, 0.651);
  border-radius: 5px;

}

.socials-links i:hover{
  box-shadow:  0 0 10px rgba(0, 255, 255, 0.432);
}

.tools-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  padding: 14px;
  width: 100%;
}
.tools{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 12px;
  padding: 14px;

}

.tool{
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 255, 255, 0.164);
  border-radius: 5px;
  border: 1px solid rgba(0, 255, 255, 0.411);
  padding: 10px;

}
.whatsapp{
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 1000;
  right: 35px;
  bottom: 55px;
  background: #1a3e;
  border-radius: 50%;
  padding: 12px;
  height: 4.4rem;
  width: 4.4rem;
}


.whatsapp i{
  font-size: 65px;
  color: #fff;
  
}

.about{
  border-top: 1px solid  #2b2c30;;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 90%;

  width: 100%;
  margin: 15px;
  
}

.about-wrapper{
  width: 100%;
  display: flex;
  gap: 42px;
  align-items: center;
  justify-content: center;
}


.aboutimage{
  height:90%;
  width: 27rem;
  border-radius: 25px;
  background: rgba(0, 255, 255, 0.308);
  overflow: hidden;

}

.aboutimage img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: .3s ease;
}

.aboutimage img:hover{
 scale: 1.06;
}
.about-content{
  display: flex;
  align-items: center;
  width: 70%;
  gap: 12px;

}

.about-card h1{
  line-height: 100%;
}

.mytitle{
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border:1px solid aqua;
  width: 9rem;
  border-radius: 40px;
  color: aliceblue;
  background: rgba(0, 255, 255, 0.212);
}

#aboutbtn{
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: center;
  padding: 12px;
  border: 1px solid aqua;
  background: rgba(0, 238, 255, 0.144);
  width: 100%;
  border-radius: 40px;
  color: aqua;
  font-size: 18px;
}

.why{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 22px;
  width: 100%;
}

.whycontainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 90%;
  width: 100%;
}

.Services{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  width: 100%;
  background: #0d0d0e;
}

.services-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 22px;
  max-width: 95%;
  width: 100%;
}

.serviceimage{
  max-width: 85%;
  width: 100%;
  overflow: hidden;
}

.serviceimage img{
  
  width: 100%;
  object-fit: cover;
}

.service-card-container{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 22px;
}

.service-card{
  padding: 20px;
  border: 1px solid rgba(0, 255, 255, 0.13);
  width: 23rem;
  height: 14rem ;
  background: #4b4b4d52;
  border-radius: 10px;
  transition: .6s ease;
}

.service-card:hover{
  background: rgba(0, 255, 255, 0.041);
  border: 1px solid rgba(0, 255, 255, 0.527);
  
}
.service-card h1{
  line-height: 110%;
}

.Contactsection{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.contact-wrapper{
  display: flex;
  flex-direction: column;
  margin: 15px;
  gap: 22px;
}

.contact-wrapper h1{
 line-height: 100%;
}

.contact-container{
  display: flex;
  gap: 22px;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}

.contact-container p{
  
  width: 50% auto;

}

.contactdetails{
  display: flex;
  align-items: center;
  flex-direction: column;
  
}

.contactdetails ul {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
}
.contactdetails ul li{
  list-style: none;
  padding: 10px;
  background: #32323331;
  border-radius: 10px;
  width: 100%;

}

form{
  display: flex;
  flex-direction: column;
  gap: 12px;
}
form h1{
  text-align: center;
}
.input{
  display: flex;
  flex-direction: column;
  gap: 12px;
}

input{
  padding: 14px;
  outline: none;
  border-radius: 7px;
  border: 1px solid #5c5d5e31;
}

#message{
  padding: 10px;
  height: 6rem;
  border: none;
  border-radius: 10px;
  outline: none;
}
.input input:focus{
  border: 1px solid aqua;
}

.input #message:focus{
  border: 1px solid aqua;
}

#sendmessage{
  border: none;
  padding: 10px;
  background: aqua;
  color: #000;
  font-size: 16px;
}


footer{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  position: relative;
  top: 26rem;
  background: #000;
}

.mainfooter{
  display: flex;
  gap: 32px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
}

.FooterSocials{
  display: flex;
  gap: 22px;
}

.FooterSocials i{
  font-size: 20px;
  

}
.mainfooter nav{
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.subfooter{
  border-top: 1px solid #16171d;
  padding: 22px;
}

@media (min-width:1024px){
  footer{
    top: 20rem;
  }
}

@media (min-width:480px)and (max-width:768px) {
  
  header{
    top: 1rem;
  }
  .me{
    font-size: 45px;
   
    
  }
  .links nav{
    display: none;
  }
  .menubtn{
    display: block;
   
  }
  .about-wrapper{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .aboutimage{
    height:24rem;
    width: 24rem;
    border-radius: 50%;

  }  
  .about-content{
    display: flex;
    align-items: center;
    width: 90%;
  }
  .mytitle{
    display: flex;
    justify-self: center;
    
   
  }
  .service-card{
   
    width: 100%;
    
  }
  .about{
    top: 3rem;
  }
  .Services{
  
    top: 4rem;
  }
  .services-wrapper{
    position: relative;
    top: 1rem;
  }
  .Contactsection{
    position: relative;
    top: 8rem;
  }
  footer{
    top: 25rem;
  }

}